@use "../../../assets/styles/mixin" as mixin;

main { 
    .categorie{
        margin-top: 200px;
        width: 100%;
        @include mixin.xs {
            margin-top: 50px;
        }
        .items{
            margin-top: 100px;
            display: grid;
            grid-template-columns: 200px 200px 200px 200px;
            grid-template-rows: 200px 200px ;
            gap: 30px;
            margin: 100px auto;
            justify-content: center;
            
            @include mixin.xs {
                display: flex;
                flex-direction: column;
                align-items: center;
                min-width: 200px;
                min-height: 200px;
                margin-top: 50px;
            }
        }

        
        
        
          

    }
  }