.ResetPassword {
    h3 { 
        text-align: center;
        margin-bottom: 30px;
        margin-top: 20px;
        font-weight: 600
  
      };
      label { 
        width: 100%;
        text-align: left;
        margin-bottom: 10px
      };
      input { 
        width: 250px;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid var(--mj-tertiary);
        margin-bottom: 10px;
        color: var(--mj-secondary);
        font-family: "Montserrat", sans-serif;
      }
      input::placeholder{
        color:var(--mj-tertiary)
      }
      input:focus-visible{ 
        outline: var(--mj-tertiary) auto 1px;
  
      }
      button {
        width: 250px;
      }
}