.Account { 
    display: flex;
    flex-direction: column;
    
    h3 { 
        margin: 40px;
        text-align: center;
    }
    .AccountContainer {     
        display: flex;
        flex: row;

        
    }
}