// @import '~slick-carousel/slick/slick.css';
// @import '~slick-carousel/slick/slick-theme.css';

.PrestataireProfile {
    min-height: 100vh;

    .btnRetour {
        margin-top: 30px;
        margin-left: 40px;
        width: 150px;
        a {
            display: flex;
            flex-direction: row;
            align-items: center;
            p {
                margin: 0 0 0 10px;
            }
        }
    }
    .photoCarrousel{ 
        margin: 0px 200px 0px 0px;
      
        height: 50vh;
        width: 40vw;
        display: flex;
        justify-content: center;
        align-items: center;
        
        img {
            border-radius: 10px; 
            width: 100%;
            max-height: 50vh;
            object-fit: cover;  /* Conserve les proportions tout en remplissant la zone */
        }
    }
    .infosProfile { 
        height: 50vh;
        width: 25vw;
        display: flex;
        flex-direction: column;
        background-color: var(--mj-secondary);
        border-radius: 10px;
        padding: 10px 30px;
        color: var(--mj-primary);
        line-height: auto;
        .businessname{ 
            font-size: 2em;
            text-align: center;
            color: var(--mj-primary);
            font-weight: 600;
        }
        .biography {
            p{ 
                color: var(--mj-tertiary);
                font-weight: 600;
                span{
                    font-size: 20px;
                    display: block;
                    font-weight: 600;
                    color: var(--mj-primary)
                    
                }
            }
        }
        .btnContact {
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            img{
                width: 35px;
                height: auto;
                position: absolute;
                top: 211px;
                cursor: pointer;
                right: 297px;
            }
        }
    }
    .titlebg{
        background-color: var(--mj-secondary);
        margin: 50px 0px;
        min-height: 15vh;
        display: flex;
        align-items: center;
        h3 {
            color: var(--mj-primary);
            font-weight: 600;
            font-size: 26px;
        }
        p {
            color: var(--mj-tertiary);
            font-size: 18px;
        }
    }
    .description{

    }
    .services{ 

        display: flex;
        flex-direction: row;
        p{ 
            border-radius: 10px;
            background-color: var(--mj-fourtiary) ;
            color: var(--mj-primary);
            padding: 15px 30px;
            margin-left: 50px;
        }
    }
}