@use "../../../assets/styles/mixin" as mixin;

main { 

    .searchBar {
       

        display: flex;
        align-items: center;
        justify-content: center;
        @include mixin.xxxl {
            margin-top: -300px;
        }
        @include mixin.xxl {
            margin-top: -100px;
        }
        @include mixin.xl {
            margin-top: -250px;
        }
        @include mixin.xs {
            
            margin: 30px 50px
            
        }
        

        
   

    form {
        
        width: 900px;
        display: flex;
        z-index: 99;
        min-height: 125px;
        background-color: rgba(237, 242, 244, 0.85);
        border: 1px var(--mj-tertiary) solid;
        border-radius: 10px;
        justify-content: center;
        flex-direction: column;
        padding-left: 30px;
        @include mixin.xs {
        padding: 15px 20px;
          min-height: 300px;
          justify-content: space-evenly;
         }
       
        
        .form { 
            @include mixin.xs {
               flex-direction: column;
             
            }
        }

        p{
            font-size: 1.2em;
            color: var(--mj-secondary);
            font-weight: 500;
            margin:0 0 10px 0;
        }
        label{ 
            font-size: 0.95rem;
            color: var(--mj-secondary);
            padding-bottom: 10px;
        }
        input{
            width: 200px;
            border: none;
            border-bottom: var(--mj-tertiary) 0.5px solid;
            background-color:rgba(237, 242, 244, 0.85);
            height: 25px;
            margin-right: 50px;
            color: var(--mj-secondary);
            font-size: 0.9rem;
            @include mixin.xs {
                margin: 15px 0px;
            }
            
        }button {
            margin-left: 100px;
            @include mixin.xs {
                margin: 15px 0px;
              
             }
        }
        }
    }
}