@use "../../../assets/styles/mixin" as mixin;

.header { 
    a{ 
        text-decoration: none;
        h1 { 
            font-size: 1.5rem;
            margin-left: 10px;
            color: var(--mj-primary);
            font-family: "Bagel Fat One", system-ui;
            font-weight: 400;
        }
        img { 
            border-radius: 10px;
        }
    }

    background-color: var(--mj-secondary) ;
    min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include mixin.xs { 
        height: 80px;
    }
    h1 { 
        @include mixin.xs { 
            display: none;
        }
    }
    img {
        width: 60px;
        height: auto;
        

    }
    nav {

        li {
            list-style: none;
        }
    }



}

nav ul li a{
    margin: 10px 30px; 
    color: var(--mj-primary);
    list-style: none;
    text-decoration: none;
    font-size: 1.1rem;
    padding-bottom: 7px;
    
}

.active{
    text-decoration: double;}

.logoAccount { 
    font-size: 50px;
    color: var(--mj-fourtiary)
}

.MenuItemAccount{
    width: 159px;
    z-index: 999;
    color: var(--mj-fourtiary);
}

.App {
    img {
        width: 40px;
        height: auto;
        margin-right: 10px
    }
    button {
        padding: 5px 10px ;
        border-radius: 50px;
        border: none;
        cursor:pointer;
    }
    p{ 
        color: var(--mj-secondary);
        font-weight: 600;
    }
    
}
.burgerNav{ 
    display: flex;
    @include mixin.xs { 
        display: none;
    }
}
.BurgerMenu {
    color: var(--mj-primary);
    font-size: 2.2rem;
    display: none !important;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
    @include mixin.xs {
      display: block !important;
      font-size: 1.8rem;
    }
  }