@use "../../../assets/styles/mixin" as mixin;

.header {
    a {
        text-decoration: none;
        h1 {
            font-size: 1.5rem;
            margin-left: 10px;
            color: var(--mj-primary);
            font-family: "Bagel Fat One", system-ui;
            font-weight: 400;
            
        }
        img {
            border-radius: 10px;
        }
    }

    background-color: var(--mj-secondary);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include mixin.xs {
        height: 75px;
        position: fixed;
        z-index: 500;
        border-bottom: 1px solid var(--mj-primary);
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    }
    .LogoHead {
        @include mixin.xs {
            // display: none;
            order:1;
            width: 150px;
            text-align: center;
            background-color: var(--mj-fourtiary);
            border-radius: 10px;
            padding: 6px 5px;
            
        }
        a {
            @include mixin.xs {
                display: block;
            }
            
        }
    }
    h1 {
        @include mixin.xs {
            // display: none;
            font-size: 1.3em !important;
            margin-left: 0px !important;
        }
    }
    img {
        @include mixin.xs {
           display: none; 
        }
    }
    nav {
        margin-right: 60px;
        li {
            list-style: none;
        }
    }
}

nav ul li a {
    margin: 10px 30px;
    color: var(--mj-primary);
    text-decoration: none;
    font-size: 1.1rem;
    padding-bottom: 7px;
}

.active {
    text-decoration: double;
}

.logoAccount {
    font-size: 50px;
    color: var(--mj-fourtiary);
}

.MenuItemAccount {
    width: 159px;
    z-index: 999;
    color: var(--mj-fourtiary);
}

.App {
    margin-left: 150px;
    img {
        width: 40px;
        height: auto;
        margin-right: 10px;
    }
    button {
        padding: 5px 10px;
        border-radius: 50px;
        border: none;
        cursor: pointer;
    }
    p {
        color: var(--mj-secondary);
        font-weight: 600;
    }
}

.AppMobile { 
    display: none;
    @include mixin.xs {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--mj-primary);
        border-radius: 50px;
        width: 32px;
        height: 32px;
        img {
            width: 30px;
            height: auto;
           
        }
    }

}

.burgerNav {
    display: flex;
    align-items: center;
    @include mixin.xs {
        display: none;
    }
}

.BurgerMenu {
    color: var(--mj-primary);
    font-size: 2.2rem;
    display: none !important;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
    @include mixin.xs {
        display: block !important;
        font-size: 1.8rem;
    }
    &.open {
        content: "\f00d"; /* Font Awesome unicode for cross icon */
        font-family: "Font Awesome 5 Free"; /* Ensure to include the Font Awesome library */
        font-weight: 900; /* Required for Font Awesome solid icons */
    }
}

.AccountMenu {
    i {
        color: var(--mj-primary);
        font-size: 2.2rem;
        display: none !important;
        cursor: pointer;
        &:hover {
            opacity: 0.8;
        }
        @include mixin.xs {
            display: block !important;
            font-size: 1.8rem;
        }
    }
    @include mixin.xs {
        order: 2;
    }
}

.BurgerMenuContainer {
    @include mixin.xs {
        order: 0;
    }
}

.calc {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

.mobileMenu {
    background-color: var(--mj-secondary);
    position: absolute;
    width: 100%;
    left: -430px;
    top: 75px;
    transition: left s ease;
    
    border-bottom: 1px solid var(--mj-primary);    
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    .noBorder{
        border-top: none !important;
     }
    
    &.open {

        left: 0;
    }
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    ul li {
        padding: 15px 0;
        width: 200px;
        border-top: 0.1px solid var(--mj-primary);
        text-align: center;

    }

    ul li a {
        margin: 10px 30px;
        color: var(--mj-primary);
        text-decoration: none;
        font-size: 1.1rem;
        padding-bottom: 7px;

        
    }
}

.AccountMenuMobile { 
    display: none;
    @include mixin.xs {
    display: block;
    background-color: var(--mj-secondary);
    position: absolute;
    width: 100%;
    top: 75px;
    transition: transform 0.3s ease-in-out;
    padding: 30px 0px;
    border-bottom: 1px solid var(--mj-primary);    
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    &.close { 
        display: none !important;
    }
    

        // transform: translateY(-100%);
 a {
            margin: 10px 30px;
            color: var(--mj-primary);
            text-decoration: none;
            font-size: 1.1rem;
            padding-bottom: 7px;
            width: 200px !important;
        }
    }

}


