
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active{
    color: #EF233C  !important;

}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed{
    color: #EF233C  !important;

}

.MuiStepLabel-label{ 
    font-family:"Montserrat" !important;
    font-size: 16px !important;
    color: #2B2D42 !important;
    font-weight: 600 !important;
}