 @use  "../styles/mixin" as mixin;


 .p-5 {
     padding: 5px;
 }

 .p-10 {
     padding: 10px;
 }

 .p-20 {
     padding: 20px;
 }

 .p-30 {
     padding: 30px;
 }

 .m-5 {
     margin: 5px;
 }

 .mr-5 {
     margin-right: 5px;
 }

 .m-10 {
     margin: 10px;
 }
 .my-10 {
    margin-top: 10px;
    margin-bottom: 10px;
 }

 .mr-15 {
     margin-right: 15px;
 }

 .m-20 {
     margin: 20px;
 }

 .mb-20 {
     margin-bottom: 20px;
 }
 .mr-30 {
    margin-right: 30px;
 }

 .my-30 {
     margin-bottom: 30px;
     margin-top: 30px;
 }

 .mt-20{ 
    margin-top: 20px;
 }

 .container {
     max-width: 1600px;
     margin: 0 auto;
     width: 100%;
     @include mixin.xs { 
        max-width: 100%;
     }
     @include mixin.sm { 
        max-width: 540px;
     }
     @include mixin.md { 
        max-width: 760px;
     }
     @include mixin.lg  { 
        max-width: 960px;
     }
     @include mixin.xl{ 
        max-width: 1140px;
     }
     @include mixin.xxl { 
        max-width: 1300px;
     }
 }

.my-30 {
    margin-bottom: 30px;
    margin-top: 30px;
}

 .no-scroll {
        overflow: hidden;
 }

 .mh-100 {
    min-height: 100vh;
 }

.w-100 { 
    width: 100%;
}