:root {
  --mj-primary: #EDF2F4;
  --mj-secondary: #2B2D42;
  --mj-tertiary: #8D99AE;
  --mj-fourtiary:#EF233C ;
  --mj-fivetiary:#D90429;
  --mj-font-family: "Montserrat", sans-serif;

  --mj-box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
  --mj-box-shadow-nav: rgb(0 0 0 / 22%) 0px 2px 18px 0px;
  
}
