@use "../../../assets/styles/mixin" as mixin;
main {
    .avis {
        margin-top: 100px;
        width: 100%;        
        
        @include mixin.xs {
            margin-top: 50px;
            
        }
    }
}