@use "../../assets/styles/mixin" as mixin;

.drawer {
    position: fixed;
    right: -300px;
    top: 0;
    height: 100vh;
    width: 240px;
    background-color: var(--mj-primary);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    transition: right 0.3s ease;
    z-index: 1000;
    margin-top: 100px;
    @include mixin.xs { 
      width: 200px;
      margin-top: 75px;
    }

  
    &.open {
      right: 0;
    }
  
    // .drawerHeader {

  
    //   button{
    //     background: none;
    //     border: none;
    //     color: var();
    //     font-size: 24px;
    //     cursor: pointer;
    //   }

    // }
  
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    
        li {
          padding: 20px;
          border-bottom: 1px solid #ccc;
    
          a {
            text-decoration: none;
            color:var(--mj-secondary);
            font-size: 16px;
            padding-bottom: 5px;
          }
        }
      }
      .active { 
        border-bottom: var(--mj-secondary) solid 1px;
      }
  }
  